/* @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
} */

.logInForm {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  /* -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
}

.logInForm > h1 {
  color: silver;
  margin: 5px 0;
}

.logInForm > p {
  color: silver;
  margin: 5 0 20px 0;
}

.logInForm > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInForm > form > input {
  width: 500px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin: 20px 0;
  outline: none;
  border-top: 1px silver;
  border-right: none;
  border-left: none;
}

.logInForm > form > button {
  display: block;
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #4d82ff;
  color: white;
}
