.logInForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
}

.logInForm > h1 {
  color: silver;
  margin: 5px 0;
}

.logInForm > p {
  color: silver;
  margin: 5 0 20px 0;
}

.logInForm > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInForm > form > input {
  width: 500px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin: 20px 0;
  outline: none;
  border-top: 1px silver;
  border-right: none;
  border-left: none;
}

.logInForm > form > button {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #4d82ff;
  color: white;
}
